<h1>Terminar Compra: </h1>
<h1>Productos: </h1>
{{#each Products}}
<div class="Product-Card">
    <h3>Producto: {{productId}}</h1>
    <h3>Cantidad: {{quantity}}</h2>
</div>
{{/each}}
<button>Finalizar Compra</button>
