<form id="forget-my-password-form" action="/api/sessions/sendresetpasswordemail" method="POST">
    <input type="email" name="forgetpasswordemail" id="forgetpasswordemail" placeholder='Email' required />
    <input type="submit" value="Enviar" />
</form>