<form method="POST" action="/api/sessions/login">
    <label for="email">Email</label>
    <input type="text" name="email" required>
    
    <label for="password">Password</label>
    <input type="text" name="password" required>

    <button type="submit">Login</button>
</form>
<a href="/forgetmypassword">Olvide mi contraseña</a>