<h1>Terminar Compra: </h1>
<h1>Productos: </h1>
{{#each Products}}
<div class="Product-Card">
    <h1>Id del producto: {{productId}}</h1>
    <h2>Cantidad: {{quantity}}</h2>
</div>
{{/each}}
<button>Pagar</button>
